<div>
  <div class="container">
    <h3>The Bechdel Test</h3>

    <h4>
      1. The movie has to have at least two women in it...<br>
      2. ...who talk to each other<br>
      3. ...about something besides a man.
    </h4>

    <p>
      <a href="https://en.wikipedia.org/wiki/Bechdel_test">Find out more about the Bechdel Test.</a>
    </p>
  </div>
</div>

<div>
  <div>

    <% @allmovies.each { |x| %>

      <h1>
        <%= x.title %><br>
        <small>directed by <%= x.director %></small>
      </h1>
  
      <a href="movies/<%= x.id %>/view">
        <img src="<%= x.image %>" alt="<%=x.title%>">
      </a>

     <% } %>

  </div>
</div>